.ItemImg{
    width: 100px;
    height: 100px;
}

.CardItem{
    justify-content:space-between;
    width:300px;
    height: auto;
    border: 1px solid rgb(16, 48, 78);
    box-shadow: 2px 2px 8px 4px #344552d1;
    border-radius:15px;
    font-family: sans-serif;
    margin-top: 10px;
    padding-top: 10px;
}

h3{
    color: rgb(216, 233, 233);
  font-family: cursive;
  font-size: 1em;
  line-height: 1.1;
}

.Infoprice{
    display: flex;
    justify-content: space-around;
}

